.video-player-page {
  position: relative;
  margin-top: 5rem;
}
.video-player-card{
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 760px){

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
